
body {
    background-color: black;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    flex-direction: row;
    background-color: black;
    width: 80%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 75px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    margin: 50px;
    padding: 5px;
    width: 320px;
    height: 247px;
}

.circle {
    background-color: yellow;
    border-radius: 50%;
    width: 57px;
    height: 57px;
    margin: 12.5px;
    display: flex;
}

.one {
    display: flex;
    align-content: flex-start;
}

.two {
    align-content: flex-end;
    justify-content: flex-end;
}

.three {
    align-content: space-between;
    justify-content: space-between;
    display: flex;
}

.four {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.five {
    display: flex;
    align-content: center;
    justify-content: center;
    
}

.circles-top {
    display: flex;
    flex-direction: row;
}       

.circles-bottom {
    display: flex;
    flex-direction: row;
}